<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gethotdrop.ui"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Actionbartheme" >
        <service
            android:name="com.gethotdrop.hotdrop.UpdateService"
            android:label="HotDrop Sync Service" >
        </service>

        <activity
            android:name="com.gethotdrop.ui.Feed"
            android:configChanges="keyboardHidden"
            android:label="@string/action_feed"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.gethotdrop.ui.Post"
            android:configChanges="keyboardHidden"
            android:label="@string/action_post"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>